/Genomes/Celegans_UNSB01.fa.gz
/Genomes/Celegans_UNSB01.fa
/Results
/multiqc_report
/Reads/Celegans_UNSB01
/Reads/Celegans_UNSB01.ccs.10.ccs_report.txt
/Reads/Celegans_UNSB01.ccs.10.fa
/Reads/Celegans_UNSB01.ccs.10.fq.gz
/Reads/Celegans_UNSB01.ccs.10.log
/Reads/Celegans_UNSB01.ccs.10.zmw_metrics.json.gz
/Reads/Celegans_UNSB01.ccs.25.ccs_report.txt
/Reads/Celegans_UNSB01.ccs.25.fa
/Reads/Celegans_UNSB01.ccs.25.fq.gz
/Reads/Celegans_UNSB01.ccs.25.log
/Reads/Celegans_UNSB01.ccs.25.zmw_metrics.json.gz
/Reads/Celegans_UNSB01.ccs.50.ccs_report.txt
/Reads/Celegans_UNSB01.ccs.50.fa
/Reads/Celegans_UNSB01.ccs.50.fq.gz
/Reads/Celegans_UNSB01.ccs.50.log
/Reads/Celegans_UNSB01.ccs.50.zmw_metrics.json.gz
/Reads/Celegans_UNSB01.perfect.10.fa
/Reads/Celegans_UNSB01.perfect.25.fa
/Reads/Celegans_UNSB01.perfect.50.fa
